<%= form_for @request do |f| %>
  <div class="form-group">
    <%= f.text_field :name, placeholder: "Copier Name", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :manufacturer, placeholder: "Manufacturer", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :user_name, placeholder: "User's name", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :user_phone, placeholder: "User's phone", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :papercut %>
    <%= f.check_box :papercut %>
    
    <%= f.label :coinop %>
    <%= f.check_box :coinop %>
    
    <%= f.label :card_reader %>
    <%= f.check_box :card_reader %>
  </div>
  
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  
<% end %>