<!-- correct for new fields -->
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Submitter's name</th>
      <th>Submitter's phone</th>
    </tr>
  </thead>
  <tbody>
    <%= div_for @requests do |f| %>
    <tr data-link="<%= request_path(f) %>">
      <td><%= f.name %></td>
      <td><%= f.oem %></td>
      <td><%= f.user_name %></td>
      <td><%= f.user_phone %></td>
    </tr>
    <% end %>
  </tbody>
</table>